<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" />
<nav th:fragment="navbar">
<!--navbar stuff goes here-->
	<ul>
		<!-- More links here... -->
		<li sec:authorize="isAuthenticated()">
			<span th:text="${#authentication.principal.username}"/>
		</li>
		<li>
			<form th:action="@{/logout}" th:method="post">
				<button class="btn-link btn" style="margin-top: 8px">Logout</button>
			</form>
		</li>
	</ul>
</nav>